.theme-switcher-menu {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}
.theme-switcher-menu button {
  font-size: 1.2rem;
}
.theme-switcher-menu .theme-switcher-button {
  position: relative;
}
.theme-switcher-menu ul {
  border: 2px solid var(--grey);
  border-radius: 2rem;
  padding-left: 0;
  position: absolute;
  bottom: 0;
}
.theme-switcher-menu ul li {
  list-style: none;
}
.theme-switcher-menu ul li button {
  border: transparent;
}