@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
  color: var(--vt-c-white-soft);
}

main {
  background: rgb(169, 96, 238);
  background: linear-gradient(
    0deg,
    rgba(255, 51, 61, 1) 0%,
    rgba(169, 96, 238, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a,
.purple {
  text-decoration: none;
  color: var(--purple);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 641px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0;
  }
}
