@import './base.css';

#nutrition-app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
  color: var(--vt-c-white-soft);
}

#nutrition-app main {
  background: rgb(169, 96, 238);
  background: linear-gradient(
    0deg,
    rgba(255, 51, 61, 1) 0%,
    rgba(169, 96, 238, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 641px) {
  body {
    display: flex;
    place-items: center;
  }

  #nutrition-app {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0;
  }
}
