@mixin flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weeknight-dinner {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: inherit;
  }

  h2,
  h3 {
    padding: 2rem 0;
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .form-wrapper {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.8rem;
    width: 80vw;
    padding: 2rem;
    margin: 2rem;
    @include flexCenterCenter;
    flex-direction: column;
    form {
      width: 100%;
    }
  }

  .meal-items-output__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    text-align: center;
    .meal-item-output {
      width: 33%;
    }
  }

  .new-foods__wrapper {
    margin: auto;
    @include flexCenterCenter;
  }

  .macros-lists__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    .macro {
      flex-grow: 1;
      gap: 2rem;
    }
  }

  .food-item {
    display: flex;
    justify-content: space-between;
    button {
      margin: 0;
    }
  }

  output {
    display: block;
  }

  .accordion__button {
    width: calc(100% - 3.3rem);
  }

  #randomize__button {
    margin-top: 3rem;
  }

  #remove-all-foods__button {
    margin: auto;
  }
}
