main {
  padding: calc(var(--gutter-spacing) * 2);
}
@media (max-width: 480px) {
  main {
    padding: calc(var(--gutter-spacing) * 1.6);
  }
}

.gutters {
  position: fixed;
  top: var(--gutter-spacing);
  right: var(--gutter-spacing);
  bottom: var(--gutter-spacing);
  left: var(--gutter-spacing);
  z-index: 0;
}

.line {
  position: absolute;
  background-color: var(--secondary-color);
}
.line.line-top, .line.line-bottom {
  width: 100%;
  height: 2px;
}
.line.line-right, .line.line-left {
  width: 2px;
  height: 100%;
}
.line.line-top {
  bottom: 0;
  left: 0;
}
.line.line-right {
  top: 0;
  left: 0;
}
.line.line-bottom {
  top: 0;
  left: 0;
}
.line.line-left {
  top: 0;
  right: 0;
}