.theme-switcher-menu {
  position: fixed;
  bottom: 2vh;
  right: 2rem;

  button {
    font-size: 1.2rem;
  }

  .theme-switcher-button {
    position: relative;
  }

  ul {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 11rem;
    padding-left: 0;
    margin-bottom: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 0.75rem;
    display: none;

    &.show {
      display: block;
    }

    li {
      list-style: none;

      button {
        border: transparent;
      }
    }
  }
}
