.theme-switcher-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  right: var(--gutter-spacing);
}
.theme-switcher-buttons button {
  border: transparent;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.9rem;
}
.theme-switcher-buttons button:hover, .theme-switcher-buttons button:focus {
  scale: 1.05;
  transition: all 300ms ease-in-out;
}
.theme-switcher-buttons #dark-theme {
  margin-right: 1px;
}