.theme-switcher-menu {
  position: fixed;
  bottom: 2vh;
  right: 2vw;

  button {
    font-size: 1.2rem;
  }

  .theme-switcher-button {
    position: relative;
  }

  ul {
    border: 2px solid var(--grey);
    border-radius: 2rem;
    padding-left: 0;
    position: absolute;
    bottom: 0;

    li {
      list-style: none;

      button {
        border: transparent;
      }
    }
  }
}
